

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# generated
/src/generated/prisma

# accidental files
next
portify-ai@0.1.0

# local scripts / seeds (optional)
prisma/seed.ts
prisma/seed2.ts
prisma/clear-db.ts
scripts/fix-usernames.ts