@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #030303;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #030303;
}